[Unit]
Description=Clash-Meta Daemon, Another Clash Kernel.
After=network.target

[Service]
Type=simple
Restart=on-abort
ExecStart=/usr/bin/clash-meta -d /etc/clash-meta

[Install]
WantedBy=multi-user.target
